mat-card {
  max-width: 40%;
  margin: 10em auto;
}

mat-toolbar {
  text-align: center;
}

.example-form-field {
  width: 100px;
  margin-left: 30px;
  height: auto;
}

.card-content {
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  justify-content: center;
}

.numeros-sorteados {
  margin: 0 8px 0 0;
  letter-spacing: 2px;
  padding: 0 0 0 2px;
  width: 55px;
  height: 55px;
  font-size: 30px;
  line-height: 55px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  font-family: arial, sans-serif-light, sans-serif;
  font-weight: 300;
}


.lista {
  padding-top: 2em;
}

.enunciado {
  height: auto;
  font-size: 20px;
}

.loading-spinner {
  background: rgba(0, 0, 0, 0.15);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
