<mat-card>
  <mat-toolbar color="primary">GERADOR</mat-toolbar>

  <mat-card-content class="card-content">
    <span class="enunciado">Quantos números deseja sortear?</span>

    <mat-form-field class="example-form-field">
      <input matInput type="text" [(ngModel)]="countNumbers">
      <button matSuffix mat-icon-button (click)="countNumbers=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </mat-card-content>

  <div align="center">
    <button
    mat-raised-button
    color="primary"
    (click)="sortear()">SORTEAR</button>
  </div>

  <div *ngIf="lista$ | async as numberList">
    <ul align="center" class="lista">
      <span class="numeros-sorteados"
            style="color:#ffffff;background-color:#3F51B5"
            *ngFor="let item of numberList">{{item}}</span>
    </ul>
  </div>
</mat-card>
